html {
	/*Copy from [Hux 黄玄's Github](https://github.com/Huxpro/huxpro.github.io)*/
	font-family: -apple-system, -apple-system-font, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
	/* font-family: -apple-system, -apple-system-font, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; */
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;

    transform: translate(-50%, -50%);

    background: url('../images/安和桥北.jpg') no-repeat 50% 50%;
    background-size: contain;
}

.music-player-controller {
    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: border-box;
    width: 320px;
    /*width: 480px;*/
    padding: 8px 12px;

    transform: translate(-50%, -50%);

    border-radius: 6px;
    background: rgba(255, 255, 255, .42);

    -webkit-backdrop-filter: blur(15px);
}

.slide-bar,
.control-panel {
	

	color: rgba(0, 0, 0, .64);
	display: flex;
	justify-content: space-between;
}

.slide-bar {
    height: 25px;
	width: 100%;
    transition: color .2s ease-in-out;

}

.slide-bar.high-light {
    color: rgba(255, 255, 255, .64);
}

.slide-bar > span {
    display: inline-block;
}

.forward-speed, 
.backward-speed,
.current-time,
.total-time {
    font-size: 12px;
    font-weight: normal;
}

.current-time,
.total-time {
    line-height: 25px;

    width: 35px;
}

.current-time {
    text-align: left;
}

.total-time {
    text-align: right;
}

.slider-container {
    position: relative;
    flex-grow: 2;
    height: 25px;
}

.progress-indicator {
    position: absolute;

    overflow: visible;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    color: transparent;
    border: 0 none;
    background: transparent;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.progress-indicator:focus {
    outline: none;
}

.progress-indicator::-webkit-slider-runnable-track {
    z-index: 1;

    background: transparent;
}

.progress-indicator::-webkit-slider-thumb {
    position: relative;
    top: -200%;

    width: 15px;
    height: 15px;

    border: none;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 1px 0 #333, 0 5px 2px -2px rgba(0, 0, 0, .4);

    -webkit-appearance: none;
}

.slider-runnable-track {
    position: absolute;
    z-index: 0;
    top: 11px;

    width: 100%;
    height: 3px;

    border-radius: 3px;
    background: linear-gradient(90deg,
    rgba(255, 255, 255, .62) 0%,
    rgba(255, 255, 255, .62) 24%,
    rgba(0, 0, 0, .62) 24%,
    rgba(0, 0, 0, .62) 100%);
}

.control-panel {
    box-sizing: border-box;
    height: 26px;
    /*margin-top: 6px;*/
    /*padding: 0 52px;*/
    margin: 6px auto 0 auto;

    width: 196px;
}

.forward-speed, 
.backward-speed {
	line-height: 26px;
	width: 15px;
}

.forward-speed {
	text-align: right;
}

.backward-speed {
	text-align: left;
}

.control-panel .buttons {
	margin: 0 10px;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}

.control-panel .buttons a {
	width: 26px;
	height: 26px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: background-image 0.2s ease-in-out;
}

.control-panel .buttons a:focus {
	outline: none;
}

.control-panel .buttons a.disable {
	cursor: default;
}

.forward-button {background-image: url("../images/forward_black.min.svg");}
.play-button {background-image: url("../images/play_black.min.svg");}
.pause-button {background-image: url("../images/pause_black.min.svg");}
.backward-button {background-image: url("../images/backward_black.min.svg");}

.forward-button:active {background-image: url("../images/forward_white.min.svg");}
.play-button:active {background-image: url("../images/play_white.min.svg");}
.pause-button:active {background-image: url("../images/pause_white.min.svg");}
.backward-button:active {background-image: url("../images/backward_white.min.svg");}

.forward-button.disable {background-image: url("../images/forward_opacity.min.svg");}
.play-button.disable {background-image: url("../images/play_opacity.min.svg");}
.pause-button.disable {background-image: url("../images/pause_opacity.min.svg");}
.backward-button.disable {background-image: url("../images/backward_opacity.min.svg");}

.pause-button {
	display: none;
}